[Unit]
Description=The Maliit server
After=dbus.socket pre-user-session.target booster-qt5.service lipstick.service
Requires=dbus.socket pre-user-session.target booster-qt5.service lipstick.service

[Service]
ExecStart=/usr/bin/invoker --type=qt5 /usr/bin/maliit-server
Type=dbus
BusName=org.maliit.server

[Install]
WantedBy=user-session.target
