[Unit]
Description=The Maliit server
After=dbus.socket
Requires=dbus.socket

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/dbus/user_bus_socket
ExecStart=/usr/bin/maliit-server
Type=dbus
BusName=org.maliit.server

[Install]
WantedBy=user-session.target
