[Unit]
Description=The Maliit server
After=xorg.target mcompositor.service
Requires=dbus.socket xorg.target mthemedaemon.service mcompositor.service

[Service]
ExecStart=/usr/bin/maliit-server
Type=dbus
BusName=org.maliit.server
