Source: plasma-maliit-framework
Section: devel
Priority: optional
Maintainer: Boudewijn Rempt <boud@kde.org>
Build-Depends: debhelper (>= 8.0~),
               libpulse-mainloop-glib0,
               libdbus-1-dev,
               pkg-config,
               pkg-kde-tools (>= 0.9),
               qt5-default,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtquick1-5-dev,
               qtquick1-5-private-dev,
               libqt5dbus5
Standards-Version: 3.9.6

Package: plasma-maliit-framework
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: plasma-maliit-framework
 Server-side framework for virtual keyboards
